svg {
  width: 200px;
  height: 200px;
  border: 1px solid green;

  line {
    stroke-width: 2;
    stroke: lightgray;
  }

  circle {
    fill: #88f;

    &.selected {
      fill: #f88;
    }
  }
}
